<?php echo form_open()?>
<?php echo form_input('username', set_value('username'), 'class="login_input", required="required" placeholder="Username"')?>
<?php echo form_password('password', set_value('password'), 'class="login_input", required="required" placeholder="Password"')?>
<?php echo form_submit('login', 'Login', 'class="login_submit gray_btn"')?>
<?php echo form_close()?>
<div class="c_image shadwo_line"></div>